@import "./../base.scss";

.Dashboard {
    margin-left: $sidebar-width;
    min-height: 100vh;
    background-color: #f8f8ff;
    display: flex;
    padding-left: 50px;
    flex-direction: column;
    .header {
        display: flex;
        align-items: baseline;
        height: min-content;
    }
}

@media screen and (max-width: 900px) {
    .Sidebar {
        display: none;
    }

    .Dashboard {
        margin-left: 0;
        width: 100vw;
        padding: 0px 10px;
        align-items: center;
    }
}
