.SearchBar {
    padding: 20px;
    margin-left: 100px;
    height: min-content;

    .search-bar {
        display: flex;
        align-items: center;
        border: thin solid gray;
        border-radius: 5px;
        background-color: white;
    }

    .search-icon {
        width: 30px;
        height: 25px;
        border: none;
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        margin: 0 10px;
        opacity: .5;

    }

    .search-bar-container {
        display: flex;
        justify-content: center;
    }
    
    .search-input {
        width: 200px;
        height: 30px;
        margin-left: 0px;
        border:none;
        border-radius: 5px;    
    }

    .search-input:not(:focus) {
        transition: .3s;
        width: 200px;
    }

    .search-input:hover {
        width: 300px;
        transition: var(--transition-speed);
        outline: none;
    }

    .search-input:focus {
        border-left: unset;
        width: 300px;
        transition: var(--transition-speed);
        border: none;
    }

    .search-result-list {
        margin-top: 5px;
        position: absolute;
        z-index: 2;
        border: thin solid gray;
        border-radius: 5px;
        background-color: white;

    }
    
    .search-results {
        height: 45px;
        width: 350px;
        // border: thin solid gray;
        border-radius: 5px;
        background-color: white;

        .provider {
            padding: 10px 0;
        }
    }
    
    .search-results:hover {
        background-color: gray;
    }

}

