@import "./../base.scss";
.SearchBar {
    padding: 20px;
    margin-left: 100px;
    height: min-content;

    .search-bar {
        display: flex;
        align-items: center;
        border: thin solid gray;
        border-radius: $border-radius;
        background-color: white;
    }

    .search-icon {
        width: 30px;
        height: 25px;
        border: none;
        background-color: white;
        padding: 5px;
        border-radius: $border-radius;
        margin: 0 10px;
        opacity: 0.5;
    }

    .search-bar-container {
        display: flex;
        justify-content: center;
    }

    .search-input {
        width: 200px;
        height: 30px;
        margin-left: 0px;
        border: none;
        border-radius: $border-radius;
    }

    .search-input:not(:focus) {
        transition: 0.3s;
        width: 200px;
    }

    .search-input:hover {
        width: 300px;
        transition: $transition-speed;
        outline: none;
    }

    .search-input:focus {
        border-left: unset;
        width: 300px;
        transition: $transition-speed;
        border: none;
    }

    .search-result-list {
        margin-top: 5px;
        position: absolute;
        z-index: 2;
        border: thin solid gray;
        border-radius: $border-radius;
        background-color: white;
    }
}
@media screen and (max-width: 900px) {
    .SearchBar {
        margin-left: 20px;
    }

    .search-input:hover {
        width: 200px !important;
    }

    .search-input:focus {
        width: 200px !important;
    }
}
