@import "./../base.scss";

.Sidebar {
    width: $sidebar-width;
    height: 100vh;
    position: fixed;
    left: 0px;
    background-color: gray;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
        width: 85%;
        height: 30px;
        box-sizing: content-box;
        padding: 20px;
        margin-bottom: 10px;
        border-bottom: thin solid white;

    }

    .logout {
        text-decoration: none;
        display: flex;
        color: black;
        align-items: center;
        position: fixed;
        bottom: 0;
        padding: 10px;
        border-top: thin solid white;
        transition: $transition-speed;
        width:  $sidebar-width + 2vw;
        margin-left: 10px;

        .logout-img {
            width: 25px;
            height: 25px;
            box-sizing: content-box;
            padding: 10px;
            margin: auto;
        }

        p {
            margin-left: 25px;
        }

    }

    .logout:hover {
        @include transform(translate(10px), $transition-speed);
    }

    .logout:not(:hover) {
        @include transform(translate(-10px), $transition-speed);
    }

}

@media screen and (max-width: 1200px) {
    .logout {
        p {
            display: none;
        }
    }
}
